<main>
    <form action="" method="GET">
            <input type="text" name="search" id="search">
            <button type="submit">Search</button>
        </form>
    <section class="cats">
        <ul>
            {{#if cats}}
                {{#each cats}}
                      <li>
                        <img src="{{this.imageUrl}}" alt="">
                        <h3>{{this.name}}</h3>
                        <p><span>Breed: </span>{{this.breed}}</p>
                        <p><span>Description: </span>{{this.description}}</p>
                        <ul class="buttons">
                            <li class="btn edit"><a href="/cats/{{this._id}}/edit">Change Info</a></li>
                            <li class="btn delete"><a href="/cats/{{this._id}}/newHome">New Home</a></li>
                        </ul>
                </li>
                {{/each}}
            {{else}}
                <h1>There are no cats yet!</h1>
            {{/if}}
        </ul>
    </section>
</main>